@model IEnumerable<ygbiydaalt.Models.Sale>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saledate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.carName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saledate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.saleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.saleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.saleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
